#Home{
    background: rgba(0,0,0,0.7) url("../assets/Fondoya.png") no-repeat;
    background-size: cover;
    height: 100vh;
    margin-top: -50px;
    width: 100vw;
    background-blend-mode: darken;

    
}